Repository TeonaRusu/TI-Project, pull requests merged in 2018-03, with the labels that each got.

#15 Structure&Title
  Documentation.md
Labels: documentation

#16 Etapa1 - Documentatie
  Documentation.md
  assets/images/ComponentsDiagram.jpg
Labels: documentation

#18 Actors, components and sequence diagram
  Documentation.md
  assets/images/SequenceDiagram.jpg
Labels: documentation

#19 Echipa,tema,use case,activity
  Documentation.md
  assets/images/ActivityDiagram.jpg
  assets/images/UsecaseDiagram.jpg
Labels: documentation

#23 Add description in READ.md
  README.md
Labels: management

#24 Grammar check
  Documentation.md
Labels: documentation

#25 Entity Relations Diagram
  Documentation.md
  assets/images/ER.jpg
Labels: documentation

#28 Readme update
  Documentation.md
  README.md
Labels: documentation, management
